<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Catalog\Helper\Product\ProductList">
        <plugin name="advanced.list.view"
                type="Crimson\AdvancedTableView\Plugin\Helper\Product\ProductListPlugin" />
    </type>

    <type name="Crimson\AdvancedTableView\Model\Source\Config">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="0" xsi:type="array">
                    <item name="label" xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::IMAGE_LABEL</item>
                    <item name="value"  xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::IMAGE_VALUE</item>
                </item>
                <item name="2" xsi:type="array">
                    <item name="label" xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::NAME_LABEL</item>
                    <item name="value"  xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::NAME_VALUE</item>
                </item>
                <item name="4" xsi:type="array">
                    <item name="label" xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::SKU_LABEL</item>
                    <item name="value"  xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::SKU_VALUE</item>
                </item>
                <item name="6" xsi:type="array">
                    <item name="label" xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::PRICE_LABEL</item>
                    <item name="value"  xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::PRICE_VALUE</item>
                </item>
                <item name="8" xsi:type="array">
                    <item name="label" xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::QTY_LABEL</item>
                    <item name="value"  xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::QTY_VALUE</item>
                </item>
                <item name="10" xsi:type="array">
                    <item name="label" xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::ACTIONS_LABEL</item>
                    <item name="value"  xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::ACTIONS_VALUE</item>
                </item>
                <item name="11" xsi:type="array">
                    <item name="label" xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::ACTIONS_SECONDARY_LABEL</item>
                    <item name="value"  xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::ACTIONS_SECONDARY_VALUE</item>
                </item>
                <item name="14" xsi:type="array">
                    <item name="label" xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::MASS_SELECT_LABEL</item>
                    <item name="value"  xsi:type="const">Crimson\AdvancedTableView\Api\ConfigurationDataInterface::MASS_SELECT_VALUE</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
